test/figures/*
/test/*~
/test/*.rst
/test/docset.zip
/clplot/*.pyc
/test/*.html
/test/*.aux
/test/*.log
/test/*.out
/test/*.pdf
/clplot/clplot/*~
/clplot/clplot/*.pyc
clplot/dist
clplot/clplot.egg-info/
/clplot/*~
