test/figures/*
/test/*~
/test/*.rst
/test/docset.zip
/clplot/*.pyc
/test/*.html
/test/*.aux
/test/*.log
/test/*.out
/test/*.pdf
/clplot/clplot/*~
/clplot/clplot/*.pyc
clplot/dist
clplot/clplot.egg-info/
/clplot/*~
clplot/doc/_build/
/test/hera/figures
/test/hera/*.aux
/test/hera/*.log
/test/hera/*.out
/test/hera/*.pdf
/test/hera/*.scratch
/clplot/*.log
/clplot/doc/*~
